li {
  list-style-type: none;
  margin-top: 15px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
}

.poll-stats {
  padding-top: 10px;
  padding-bottom: 5px;
}

.dashboard-container {
  padding-top: 25px;
}

.leader-board-container {
  padding-top: 50px;
}

.new-question-container {
  padding-top: 75px;
  display: flex;
  justify-content: center;
}

.poll-container {
  padding-top: 75px;
  display: flex;
  justify-content: center;
}

.login-container {
  padding-top: 75px;
  display: flex;
  justify-content: center;
}

.no-match-container {
  text-align: center;
}

.login-dropdown {
  padding: 30px;
}

.dashboard-list-item {
  display: flex;
  justify-content: center;
}

.leader-board-list-item {
  display: flex;
  justify-content: center;
}

.new-question-input {
  margin-top: 15px;
}

.question-radio {
  padding: 15px;
}
